body {
  background: #FFE3BF;
  font-family: 'Margarine', sans-serif;
  text-align: center;
  margin: 0;
}
.main-menu {
  text-align: center;
  margin: 20px;
  height: auto;
  top: 0;
  bottom: 0;
}
p {
  margin-top: 10px;
  margin-left: -50px;
  margin-right: -50px;
  font-size: 36px;
  color: #D49542;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
#logo {
  width: 70vw;
  max-width: 200px;
  height: auto;
  max-height: 160px;
  margin: 5vh 0;
}
#play-button {
  width: 50vw;
  max-width: 140px;
  margin: auto;
  color: #5B381C;
  cursor: pointer;
}
#button-component {
  background: #654018;
  color: #fff;
  font-size: 5vw;
  padding: 10px 15px;
  border-radius: 100px;
  width: auto;
  margin: 0 25vw 10px 25vw;
  cursor: pointer;
}
#play-button:hover, #about-button:hover {
  opacity: 0.75;
}
#play-svg {
  filter: invert(22%) sepia(19%) saturate(1679%) hue-rotate(344deg) brightness(93%) contrast(90%);
}
#background {
  position: fixed;
  opacity: 0.3;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  z-index: -1;
}