:root {
  --count:'3';
  --gameWidth: 0.2;
  --baseWidth: calc(90vh - 270px);
}

html, body {
  margin: 0;
}

body {
  background: #FFE3BF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#main {
  text-align: center;
  margin: 0px;
  height: 100vh;
  top: 0;
  bottom: 0;
}

#level-block {
  font-size: 32px;
  display: block;
  height: 80px;
  padding: 7vh 0 3vh 0;
}

#level-block #dim {
  color:#fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding: 3px 15px;
  border-radius: 30px;
}

#game-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: var(--baseWidth);
  height: var(--baseWidth);
  max-width: 90vw;
  max-height: 90vw;
  margin: auto;
}

#game-block #game {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(var(--baseWidth) * var(--gameWidth) * (9/7));
  height: calc(var(--baseWidth) * var(--gameWidth) * (9/7));
  max-width: calc(100vw * var(--gameWidth) * (9/7));
  max-height: calc(100vw * var(--gameWidth) * (9/7));
  margin: auto;
}


#game-block #game .hideout {
  display: none;
}

#result {
  margin-top: 15px;
  margin-bottom: 5px;
}

#stat-box {
  margin: 0 5vw 15px 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

#stat-box #stat {
  font-size: 16px;
  text-transform: uppercase;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  width: 45vw;
}

#time, #clicks {  
  font-size: 28px;
}

#stat-box #stat:nth-child(1) {
  margin-right: 15px;
}

#stat-box #stat t {
  font-weight: 900;
}

#dimension {
  color:#fff;
  background: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 3px 15px;
  border-radius: 30px;
}

.block {
  float: left;
  width: calc((10% / var(--gameWidth)) - (min(var(--baseWidth), 90vw) * 0.01));
  height: calc((10% / var(--gameWidth)) - (min(var(--baseWidth), 90vw) * 0.01));
  position: relative;
  margin: calc(min(var(--baseWidth), 90vw) * 0.005);
  border-radius: 16%;
}

.block:nth-child(1):before {
  color: #000;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  content: var(--count);
  font-family: 'Montserrat', sans-serif;
  width: calc(var(--baseWidth) * (9/7) * var(--gameWidth) - (min(var(--baseWidth), 90vw) * 0.01));
  height: calc(var(--baseWidth) * (9/7) * var(--gameWidth) - (min(var(--baseWidth), 90vw) * 0.01));
  max-width: calc(100vw * var(--gameWidth) * (9/7) - (min(var(--baseWidth), 90vw) * 0.01));
  max-height: calc(100vw * var(--gameWidth) * (9/7)- (min(var(--baseWidth), 90vw) * 0.01));
  line-height: calc(var(--baseWidth) * (9/7) * var(--gameWidth) - (min(var(--baseWidth), 90vw) * 0.01));
  font-size: 30px;
  text-align: center;
  position: absolute;
  -webkit-animation: count 3s linear forwards;
          animation: count 3s linear forwards;
  border-radius: calc(((100% / (var(--gameWidth) * 10)) - (min(var(--baseWidth), 90vw) * 0.01)) * 0.16);
  -webkit-transition:0.3s;
  transition: 0.3s;
  z-index: 10;
}

@-webkit-keyframes count {
  0% { content: '3'; }
  50% { content: '2'; }
  70% { content: '1'; }
  90% { content: '1'; opacity: 1; }
  99% { content: '1'; opacity: 0; }
  100% { content: '0'; opacity: 0; visibility:hidden;}
}

@keyframes count {
  0% { content: '3'; }
  50% { content: '2'; }
  70% { content: '1'; }
  90% { content: '1'; opacity: 1; }
  99% { content: '1'; opacity: 0; }
  100% { content: '0'; opacity: 0; visibility:hidden;}
}

.clicked {
  -webkit-transform: scale(.85);
          transform: scale(.85);
  visibility: visible !important;
}

.match:after {
  content:'\2713';
  font-family: 'Montserrat', sans-serif;
  font-size: calc(var(--baseWidth)/10);
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(.3);
          transform: scale(.3);
  background: rgba(255,255,255,.6);
  border-radius: 50%;
  -webkit-animation: match .3s ease-out forwards;
          animation: match .3s ease-out forwards;
  visibility: visible !important;
}

@-webkit-keyframes match {
  0% { -webkit-transform:scale(.0); transform:scale(.0); }
  50% { -webkit-transform:scale(.6); transform:scale(.6); }
  100% { -webkit-transform:scale(.5); transform:scale(.5); }
}

@keyframes match {
  0% { -webkit-transform:scale(.0); transform:scale(.0); }
  50% { -webkit-transform:scale(.6); transform:scale(.6); }
  100% { -webkit-transform:scale(.5); transform:scale(.5); }
}

#clicks, #time {
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  margin: 0 auto;
  line-height: 100%;
}

#records {
  margin: 10px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color:#fff;
}

#records .lvl {
  padding: 3px 15px;
  margin: 0 auto;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

#records #stat-box {
  padding: 0px;
  margin: 5px 0 0 0 !important;
  border-radius: 6px;
  font-size: 10px !important;
  background: rgba(0, 0, 0, 0.35) !important;
  width: calc(30vw - 10px);
  min-width: 150px;
}

#records #stat-box #stat {
  padding: 6px !important;
  font-size: 12px !important;
  width: calc(50% - 5px);
}

#records #stat-box #stat:nth-child(1) {
  margin-right: 10px !important;
}

#records #time, #records #clicks {  
  font-size: 18px !important;
}

.rec {
  position: relative;
  display: none;
}

.show {
  display: inline-block;
  margin: 5px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

#back-button {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px;
  z-index: 100;
}

#back-button #arrow-svg {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-top: 6px;
  margin-bottom: -6px;
}

#back-button:hover, #back-button:hover {
  opacity: 0.75;
}

#background {
  position: fixed;
  opacity: 0.3;
  width: 100vw;
  height: auto;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#play-again {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 24px;
  width: var(--baseWidth);
  margin: 40px auto;
  padding: 20px;
  border-radius: 40px;
  cursor: pointer;
}

#play-again:hover {
  opacity: 0.75;
}

#play-again.show {
  display: inline-block;
}

.hideout {
  display: none !important;
}